#data-subject {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#data-subject-graph {
  height: 100%;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

#dvmenu {
  align-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.wrapper {
  float: right;
  margin-top: -16px;
  margin-right: 20px;
}
.el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.el-card:hover {
  border: 1px solid #d1dbe5;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 0 12px 0 rgba(0, 0, 0, 0.04);
}
.el-card {

  min-width: 280px;
  min-height: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fbfdff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.04);
}

.block {
  padding: 30px 30px;
  overflow: hidden;
  border-bottom: 1px solid #eff2f6;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #999;
}
.desc {
  font-size: 14px;
  color: #aaa;
}
.count {
  margin-top: 10px;
  font-size: 14px;
  color: #f7ba2a;
  //text-align: center;
}
.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  float: right;
  padding: 0;
}

.image {
  display: block;
  //height: 100%;
  align-content: center;
  width: 100%;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

.el-carousel__item img {
  height: 500px;
  margin: 0;
  font-size: 18px;
  color: #475669;
  opacity: 0.75;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
