
.l-6dot2 {
  display: inline-block;
  background-color: transparent;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
}
.shape {
  border-radius: 3px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  //padding: 0 0.5em;
  line-height: 1.8;
  &.group {
    border: 1px solid #dddddd;
  }
  &.table {
    /*outline: 1px dashed #bfbfbf;*/
    background-color: #dbdfee;
    border: 1px solid #dbdfee;
  }
  &.is-current {
    background-color: #0094d8;
    border: 1px solid #0094d8;
    color: #F1F1F1;
  }
  &.input-table {
    background-color: #dec692;
    border: 1px solid #dec692;
  }
  &.output-table {
    background-color: #d3e8cc;
    border: 1px solid #d3e8cc;
  }
  &.cursor-table {
    background-color: #e8b9c6;
    border: 1px solid #e8b9c6;
  }
  &.cursor-var-table {
    background-color: #dabfe8;
    border: 1px solid #dabfe8;
  }
  &.metrics-table {
    background-color: #FBEBCB;
    border: 1px solid #FBEBCB;
  }
  &.report-table {
    background-color: #E0EFF1;
    border: 1px solid #E0EFF1;
  }
  &.column {
    border-radius: 0;
    background: #fff;
  }
}
canvas {
  /*position: absolute;*/
  z-index: 0;
}
