div.d-upper-title {
  margin: 30px 0 20px;
}
#text {
  line-height: 2.5em;
}
.color {
  margin: 10px 0;
  .box {
    display: inline-block;
    width: 100px;
    height: 3em;
    margin-right: 15px;
    line-height: 3em;
    text-align: center;
    border-radius: 2px;
  }
}
#button {
  .d-figure {
    margin-right: 20px;
  }
}
#icon {
  [class|=icon-i] {
    font-size: 24px;
    .path1::before {
      //margin-left: -1em !important;
    }
    .path2,
    .path3,
    .path4,
    .path5,
    .path6,
    .path7 {
      &::before {
        margin-left: -1em !important;
      }
    }
  }
  .d-vice-title {
    margin: 10px 0;
    text-align: left;
  }
}
.icon-box {
  &.menu {
    display: block;
    width: 100%;
    min-height: 2em;
  }
  display: inline-block;
  width: 80px;
  min-height: 60px;
  margin: 10px 10px;
  text-align: center;
  vertical-align: top;
  .label {
    margin-top: 1em;
  }
  .class-label {
    margin-top: 0.5em;
  }
}
