@import './_color.scss';
.tab-page {
  position: absolute;
  //outline:1px solid pink;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.versions-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  .versions-list-content {
    position: absolute;
    //outline:1px solid pink;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // padding: 20px;
    .versionsList {
      position: absolute;
      top: 44px;
      right: 0;
      bottom: 60px;
      left: 0;
      overflow: auto;
      .versionsList-table {
        // width: 100%;
        position: absolute;
        top: 54px;
        right: 20px;
        bottom: 59px;
        left: 20px;
      }
    }
    .versionsList-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 59px;
      padding-top: 10px;
      background: #fff;
      border-top: 1px solid #ddd;
      .versionMessage {
        display: inline-block;
        padding-left: 20px;
        span {
          padding-right: 10px;
        }
      }
      .datablau-pagination {
        display: inline-block;
        text-align: center;
      }
    }
  }
  .model-item-page-title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    height: 40px;
    // line-height: 40px;
    padding-top: 8px;
    margin: 0 20px;
    font-size: 16px;
    background: var(--default-bgc);
    border-bottom: 1px solid var(--border-color-lighter);
    // border-bottom: 1px solid red;
    button {
      margin-top: 8px;
    }
    .item-title {
      font-size: 18px;
    }
    .bottom-line {
      position: absolute;
      right: 20px;
      bottom: 0;
      left: 20px;
      display: inline-block;
      border-bottom: 1px solid #ddd;
    }
  }
}
.versions-detail {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  background: #fff;
  .compareName {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 800px;
    height: 108px;
    margin-top: 10px;
    overflow: hidden;
    background: rgba(64, 158, 255, 0.06);
    .compare-message {
      display: flex;
      align-items: center;
      max-width: 46%;
      .message-name {
        p {
          &:first-child {
            padding-bottom: 15px;
          }
          span {
            font-size: 12px;
            font-weight: 400;
            color: #555;
          }
          .message-name-title {
            width: 72px;
            font-weight: 500;
          }
        }
      }
      .editbutton {
        padding-left: 70px;
      }
    }
    .middle-cont {
      width: 62px;
      height: 62px;
      border: 1px solid #ddd;
      border-radius: 100%;
      p {
        font-size: 30px;
        font-weight: 400;
        line-height: 61px;
        color: #777;
        text-align: center;
      }
    }
  }

  .report-overview {
    margin-top: 21px;
    border-bottom: 1px solid #ddd;
    .no-difference {
      padding: 1px 12px;
      border-radius: 11px;
      &.difference {
        background: rgba(238, 157, 0, 0.2);
      }
    }
  }
  .variance-report-details {
    margin-top: 20px;
    .details-search {
      margin-top: 10px;
      margin-bottom: 10px;
      .screen-part {
        margin-top: 10px;
        .screen-part-select {
          display: inline-block;
          margin-left: 20px;
          .identification {
            display: inline-block;
            span {
              padding-left: 20px;
              font-size: 12px;
              &.delete {
                color: #f2220a;
              }
              &.modify {
                color: #f1a90e;
              }
              &.added {
                color: #66bf16;
              }
              i {
                display: inline-block;
                width: 6px;
                height: 6px;
                margin-right: 2px;
                margin-bottom: 2px;
                vertical-align: middle;
                border-radius: 100%;
                &.delete {
                  background: #f2220a;
                }
                &.modify {
                  background: #f1a90e;
                }
                &.added {
                  background: #66bf16;
                }
              }
            }
          }
        }
      }
    }
    .report-details {
      width: 100%;
      .report-details-first {
        display: inline-block;
        width: 50%;
        max-height: 440px;
        border: 1px solid #ddd;
        .first-title {
          width: 100%;
          height: 40px;
          background: rgba(64, 158, 255, 0.1);
          border-bottom: 1px solid #ddd;
          .datablau-tooltip {
            width: 100%;
            p {
              display: inline-block;
              width: 98%;
              padding-left: 10px;
              overflow: hidden;
              font-size: 12px;
              line-height: 40px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
      .report-details-sencond {
        display: inline-block;
        width: 50%;
        max-height: 440px;
        border: 1px solid #ddd;
        border-left: 0;
        .sencond-title {
          width: 100%;
          height: 40px;
          background: rgba(78, 212, 210, 0.1);
          border-bottom: 1px solid #ddd;
          .datablau-tooltip {
            width: 100%;
            p {
              display: inline-block;
              width: 98%;
              padding-left: 10px;
              overflow: hidden;
              font-size: 12px;
              line-height: 40px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .add {
      color: #66bf16;
    }
    .modify {
      color: #ee9d00;
    }
    .remove {
      color: #f2220a;
    }
  }
  .message-title {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    // padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
    color: $text-default;
    &::before {
      position: absolute;
      top: 4px;
      left: 0;
      width: 4px;
      height: 14px;
      content: '';
      background: $primary-color;
      border-radius: 1px;
    }
  }
}
.page-form {
  .el-form-item {
    margin-bottom: 5px;
  }
}

.sub-title {
  //  margin-top:2em;
  margin-bottom: 1em;
  font-size: 14px;
  font-weight: bold;
  &.part-title {
    font-size: 16px;
    font-weight: bold;
  }
}

.delete-btn {
  height: 80%;
  margin-right: 0;
  background: inherit;
}
.synchronizationStrategy {
  position: relative;
  display: inline-block;
  width: 300px;
  text-align: center;
  cursor: pointer;
  .synchronizationStrategy-tips {
    display: none;
  }
  &:hover {
    .synchronizationStrategy-tips {
      position: absolute;
      top: -20px;
      right: -247px;
      z-index: 999;
      display: block;
      padding: 14px 26px 14px 13px;
      background: #fff;
      // box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
      border: 1px solid #eee;
      border-radius: 8px;
    }
  }
}
