h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #1f2f3d;
  font-weight: bold;
  line-height: 48px;
}

h2 {
  margin: 0.5em 0;
  font-size: 20px;
  color: #1f2f3d;
  font-weight: bold;
  line-height: 40px;
}

h3 {
  margin: 0.5em 0;
  font-size: 14px;
  color: #1f2f3d;
  font-weight: bold;
  line-height: 28px;
}
h3.types {
  margin: 0.5em 0;
  font-size: 16px;
  color: #1f2f3d;
  font-weight: bold;
  line-height: 28px;
}

.component-box {
  display: inline-block;
  width: 330px;
  height: 116px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 4px;
}

.console-box {
  display: inline-block;
  width: 300px;
  margin: 10px;
  vertical-align: top;
}
.mt-10 {
  margin-top: 10px;
}
.pre {
  width: 100%;
  padding: 20px;
  background: #f2f4f5;
  border-radius: 2px;
  code {
    line-height: 20px;
  }
}
