.collapse-title {
  h2 {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      width: 4px;
      height: 14px;
      content: "";
      background: #409eff;
      border-radius: 1px;
    }
  }
  i {
    margin: 20px 20px;
    font-size: 12px;
    color: #479eff;
    &:hover {
      /* text-decoration: underline; */
    }
  }
  padding-left: 10px;
}
#standard-name {
  margin: 30px 0 20px;
  font-size: 18px;
}

#submitter {
  float: right;
  font-size: 12px;
}

.content-area {
}

.header {
  h2 {
    display: inline-block;
    margin-left: 5px;
  }
}

.domain-detail-component {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: auto;
  position: relative;

  .form-group-outer {
    padding: 20px 0;
  }
}
.el-collapse-item:last-child {
  margin-bottom: 30px;
}
.el-form.db-form .el-autocomplete,
.el-form.db-form .el-cascader,
.el-form.db-form .datablau-select,
.el-form.db-form .datablau-input,
.el-form.db-form .datablau-tooltip .el-select {
  width: 600px;
}
