.rule-graph {
  font-size: 12px;
}
#rule-map,
.rule-graph {
  margin-top: 5px;
  .shape {
    &.is-editing {
      /* &:before {
        font-family:'FontAwesome';
        content:'\f061';
        position:absolute;
        left:-4px;
        color: #5b675c;
        top:50%;
        transform:translateY(-9px);
        font-stretch:expanded;
        font-size:18px;
      } */
    }

    position: relative;
    min-height: 5em;
    padding: 1em 3em 1em 1em;
    border: 1px solid #fff;
    border-radius: 3px;
    &:not(:last-child) {
      margin-bottom: 0.3em;
    }
    &.outline {
      outline: 1px dashed #675d64;
      & > .btn-bar { display: block; }
    }
    .btn-bar {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      width: 2em;

      height: 100%;
      cursor: pointer;
      border-left: 1px solid #f1f5f8;
      &:hover {
        opacity: 1;
      }
    }
    i {
      position: absolute;
      top: 50%;
      right: 0.5em;
      margin-left: 4px;
      color: #f1f5f7;
      transform: translateY(-7px);
    }
    .editing-label {
      display: none;
    }
    &.is-editing {
      .editing-label {
        //display:inline-block;
      }
    }
  }
  .shape-normal {
    min-height: 3em;
    background-color: #f4f4f5;
    border: 1px solid #f4f4f5;
    .btn-bar {
      border-left-color: #606266;
      i {
        color: #606266;
      }
    }
  }
  .shape-and {
    background-color: #aeeead;
  }
  .shape-or {
    background-color: lightskyblue;
  }
  .shape-not {
    min-height: 3em;
    background-color: #cd7b7c;
  }
}



.options,
.graph-options {
  position: absolute;
  top: 50%;
  left: 1em;
  z-index: 9999;
  display: none;
  width: 12.5em;
  //top:250px;
  //left:200px;
  line-height: 30px;
  background-color: #f8f9fc;
  box-shadow: 0 0 4px grey;
  .option {
    padding-right: 1em;
    padding-left: 1em;
    background: #f8f9fc;
    &:hover {
      cursor: pointer;
      background: #d6d9e0;
    }
  }
}
